doctype html
html
  include includes/head.pug
  table(style='box-sizing:border-box;border-spacing:0;width:100%;background-color:#fdfdfd;border-collapse:separate!important' width='100%' bgcolor='#FDFDFD')
  tbody
    tr
      td(style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top" valign='top')
      td(style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;display:block;width:600px;max-width:600px;margin:0 auto!important" width='600' valign='top')
        div(style='box-sizing:border-box;display:block;max-width:600px;margin:0 auto;padding:10px;')
          div(style='box-sizing:border-box;width:100%;background: #336CBA;padding: 10px 10px 10px 16px;')
            table(style='box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important' width='100%')
              tbody
                tr
                  td(style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;text-align:left" valign='top' align='left')
                    a(href='' style='box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none' target='_blank')
                      img(src='' height='36' style='vertical-align: middle;height: 100%;max-width:100%;border-style:none')
          div(style='box-sizing:border-box;width:100%;margin-bottom:30px;background:#ffffff;border:1px solid #f0f0f0')
            table(style='box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important' width='100%')
              tbody
                tr
                  td(style="box-sizing:border-box;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;padding:30px" valign='top')
                    table(style='box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important' width='100%')
                      tbody
                        tr
                          td(style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top" valign='top')
                            div(style='box-sizing:border-box')
                            block content